
footer {
    display: flex;
    flex-direction: row;
    background-color: #DDE4D1;
    color: black;
    padding: 1%;
    text-align: center;
}

footer img{
    max-width: 40px;
    width:10%

}

footer .socialmedia{
    width: 50%;
    text-align: center;
}

footer .subscription{
    text-align: right;
    width: 50%;
}

footer .subscription input[type=text]{
    max-width: 200px;
    width: 60%;
    box-shadow: none;
    display: inline-block;
    border: none;
    border-bottom: 1px solid white;
    background-color: inherit;
    color: black;
    outline: none;
    font-size: 1.3vw;
}

footer .subscription input[type=text]:focus{
    box-shadow: 0 0 5px black;
    border: 1px solid black;
}

footer .subscription input[type=submit] {
    max-width: 100px;
    width: 20%;
    border-radius: 0.5rem;
    background-color: black;
    color: #DDE4D1;
    margin-right: 5%;
    cursor: pointer;
    font-size: 1.3vw;
}

@media only screen and (max-width: 812px) {
    footer{
        flex-direction: column;
    }
    
    footer .subscription{
        width: 100%;
    }
    footer .socialmedia{
        width: 100%;
    }
    footer .subscription input[type=submit] {
        font-size: 3.1vw;
    }
    footer .subscription input[type=text]{
        font-size: 3.1vw;
    }

}