@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');
/*Navigation and hamburger menu*/
/* code taken from https://alvarotrigo.com/blog/hamburger-menu-css/ for use of hamburger menu */

nav {
    position:sticky;
    top: 0; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 2%;
    width:100%;
    text-align: center;
    padding-bottom: 1%;
    border-bottom: 1px solid #a76595;
}
nav img{
    background-color: white;
    width: 30%;
}
nav .homebutton{
    display: none;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Poppins';
    font-size: large;
}
nav a:hover{
    color: #a76595;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: white;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}

@media only screen and (max-width: 812px) {
nav .homebutton{
    display: inherit;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Poppins';
}
nav a:hover{
    color: #a76595;
}
.menu-button-container {
    display: flex;
}
.menu {
    position: absolute;
    top: 0;
    margin-top: 95px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
#menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
    border: 1px solid white;
    height: 2.5em;
    padding-top: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color:#F1F0F0;
}
.menu > li:not(:last-child) {
    border-bottom: 1px solid  #483643;
}
}